@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color:rgb(44, 84, 204);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    
}

.container{
    max-width: 400px;
    margin: 20px auto;
    margin-top: 80px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

h1{
    
    padding-top: 30px;
}

.relogio{
    font-size: 3em;
}

.botoes{
    border-radius: 2px;
    
}

.iniciar{
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.pausar{
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.zerar{
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.pausado{
    color: red;
}